[Unit]
Description=mozjpeg web application
After=network.target

[Service]
Type=simple
WorkingDirectory=
ExecStart=
ExecStop=/bin/kill -INT ${MAINPID}
User=
Group=

[Install]
WantedBy=multi-user.target